
    
body,
html {
    min-height: 100%;
}

body {
    background-image: url(f6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#orange {
    color: white;
}

#green {
    color: green;
}