
    
body,
html {
    min-height: 100%;
}

body {
    background-image: url(f6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#orange {
    color: yellow;
}

#green {
    color: green;
}

h1,h3 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#border {
    background: black;
    color: white;
    text-align: center;
    
    
}

