body,
html {
    min-height: 100%;
}

body {
    background-image: url(fl7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3 {
    color: white;
}

#border {
    background: black;
    color: white;
    text-align: center;
    
    
}