body,
html {
    min-height: 100%;
}

body {
    background-image: url(fr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    display: inline;
    width: 150px;
    height: 50px;
    background-color: lightskyblue;
    color: white;
    border: 0; 
    border-radius: 2px;
    font size: 15px;
    margin-top: 5px;
    text-decoration: none;  
}